**/.vs
**/.vscode
**/.idea
**/bin
**/obj
**/*.user
**/*.suo
**/.git
**/.gitignore
**/.gitattributes
**/node_modules
src/Chronicle.Web
tests/
docs/
scripts/
*.md
Dockerfile
docker-compose.yml
.dockerignore
